<%= form_for(@workflow) do |f| %>
  <% if @workflow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workflow.errors.count, "error") %> prohibited this workflow from being saved:</h2>

      <ul>
      <% @workflow.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :wdl_source %><br>
    <%= f.text_field :wdl_source %>
  </div>
  <div class="field">
    <%= f.label :is_valid %><br>
    <%= f.check_box :is_valid %>
  </div>
  <div class="field">
    <%= f.label :html %><br>
    <%= f.text_area :html %>
  </div>
  <div class="field">
    <%= f.label :inputs %><br>
    <%= f.text_area :inputs %>
  </div>
  <div class="field">
    <%= f.label :options %><br>
    <%= f.text_area :options %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
