<p id="notice"><%= notice %></p>

<p>
  <strong>Wdl source:</strong>
  <pre><%= @workflow.wdl_source %></pre>
</p>

<p>
  <strong>Is valid:</strong>
  <pre><%= @workflow.is_valid %></pre>
</p>

<p>
  <strong>Html:</strong>
    <% if @workflow.html.nil? %>
      <pre><%= @workflow.html %></pre>
    <% else %>
      <pre><%= @workflow.html.html_safe %></pre>
    <% end %>
  
</p>

<p>
  <strong>Inputs:</strong>
  <% if @workflow.inputs == "{}" %>
    <pre><%= @workflow.inputs %></pre>
  <% else %>
   <pre><%= JSON.pretty_generate(JSON.parse(@workflow.inputs.to_json)) %></pre>
  <% end %>
</p>

<p>
  <strong>Options:</strong>
  <% if @workflow.options == "{}" %>
    <pre><%= @workflow.options %></pre>
  <% else %>
   <pre><%= JSON.pretty_generate(JSON.parse(@workflow.options.to_json)) %></pre>
  <% end %>
</p>

<%= link_to 'Edit', edit_workflow_path(@workflow), class: 'btn btn-primary'%>
<%= link_to 'Destroy', @workflow, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
