<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <pre><%= @workflow.name %></pre>
</p>

<p>
  <strong>Tags:</strong>
  <pre><%= @workflow.tags %></pre>
</p>


<p>
  <strong>Wdl source:</strong>
  <pre><%= @workflow.wdl_source %></pre>
</p>

<p>
  <strong>Is valid:</strong>
  <pre><%= @workflow.is_valid %></pre>
</p>

<p>
  <strong>Html:</strong>
    <% if @workflow.html.nil? %>
      <pre><%= @workflow.html %></pre>
    <% else %>
      <pre><%= @workflow.html.html_safe %></pre>
    <% end %>
  
</p>

<p>
  <strong>Inputs:</strong>
  <pre><%= JSON.pretty_generate(JSON.parse(@workflow.inputs.to_json)) %></pre>  
</p>

<p>
  <strong>Options:</strong>
  <pre><%= JSON.pretty_generate(JSON.parse(@workflow.options.to_json)) %></pre>  
</p>

<br>

<div>
  <%= link_to 'Run', new_workflow_job_path(@workflow), class: 'btn btn-default btn-lg' %>
  <%= link_to 'Edit', edit_workflow_path(@workflow), class: 'btn btn-default btn-lg'%>
  <%= link_to 'Destroy', @workflow, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-lg'%>
  <%= link_to 'Jobs', workflow_jobs_path(@workflow), class: 'btn btn-default btn-lg' %>
</div>
