<p id="notice"><%= notice %></p>

<h1>Listing Jobs</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Workflow</th>
      <th>Inputs</th>
      <th>Options</th>
      <th>Job process uuid</th>
      <th>Started at</th>
      <th>Status</th>
      <th>Completed at</th>
      <th>Outputs</th>
      <th>Metadata</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody style='white-space: pre'>
    <% @jobs.each do |job| %>
      <tr class="minimized_table_cell">
        <td><div><strong>ID: </strong><%= Workflow.find(job.workflow_id).id %><br><strong>Name: </strong><%= Workflow.find(job.workflow_id).name %></div></td>
        <td><div><%= JSON.pretty_generate(JSON.parse(job.inputs.to_json)) %></div></td>
        <td><div><%= JSON.pretty_generate(JSON.parse(job.options.to_json)) %></div></td>
        <td><div><%= job.job_process_uuid %></div></td>
        <td><div><%= job.started_at %></div></td>        
        <td><div><%= job.status %></div></td>
        <td><div><%= job.completed_at %></div></td>
        <td><div><%= JSON.pretty_generate(JSON.parse(job.outputs.to_json)) %></div></td>
        <td><div><%= JSON.pretty_generate(JSON.parse(job.metadata.to_json)) %></div></td>
        <td><div><%= link_to 'Show', job %></div></td>
      </tr>
    <% end %>
  </tbody>
</table>
