<p id="notice"><%= notice %></p>

<p>
  <strong>Wdl:</strong>
  <pre><%= @job.wdl_id %><\pre>
</p>

<p>
  <strong>Inputs:</strong>
  <pre><%= @job.inputs %><\pre>
</p>

<p>
  <strong>Options:</strong>
  <pre><%= @job.options %><\pre>
</p>

<p>
  <strong>Run at:</strong>
  <pre><%= @job.run_at %><\pre>
</p>

<p>
  <strong>Status:</strong>
  <pre><%= @job.status %><\pre>
</p>

<p>
  <strong>Results:</strong>
  <pre><%= @job.results %><\pre>
</p>

<%= link_to 'Destroy', @job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
