<p id="notice"><%= notice %></p>

<p>
  <strong>Wdl:</strong>
  <%= @job.wdl_id %>
</p>

<p>
  <strong>Inputs:</strong>
  <%= @job.inputs %>
</p>

<p>
  <strong>Options:</strong>
  <%= @job.options %>
</p>

<p>
  <strong>Run at:</strong>
  <%= @job.run_at %>
</p>

<p>
  <strong>Status:</strong>
  <%= @job.status %>
</p>

<p>
  <strong>Results:</strong>
  <%= @job.results %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
