<p id="notice"><%= notice %></p>

<p>
  <strong>Workflow:</strong>
  <pre><%= @job.workflow_id %></pre>
</p>

<p>
  <strong>Inputs:</strong>
  <pre><%= JSON.pretty_generate(JSON.parse(@job.inputs.to_json)) %></pre>
</p>

<p>
  <strong>Options:</strong>
  <pre><%= JSON.pretty_generate(JSON.parse(@job.options.to_json)) %></pre>
</p>

<p>
  <strong>Started at:</strong>
  <pre><%= @job.started_at %></pre>
</p>

<p>
  <strong>Status:</strong>
  <pre><%= @job.status %></pre>
</p>

<p>
  <strong>Completed at:</strong>
  <pre><%= @job.completed_at %></pre>
</p>

<p>
  <strong>Outputs:</strong>
  <pre><%= @job.outputs %></pre>
</p>

<p>
  <strong>Metadata:</strong>
  <pre><%= @job.metadata %></pre>
</p>

<br>

<div>
  <%= link_to 'Destroy', @job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-lg' %>
</div>
